<div class="container-fluid">

    <!-- Begin page -->
    <div class="wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        <div class="leftside-menu leftside-menu-detached">

            <div class="leftbar-user" style="padding-bottom: 10%;text-align: center;">
                <a href="javascript: void(0);">
                    <img src="../../assets/avatar-1.jpg" alt="image" class="img-fluid rounded-circle"
                        style="margin-top: 50px;" width="50" />
                </a>
            </div>

            <!--- Sidemenu -->
            <ul class="side-nav">
                <li class="side-nav-title side-nav-item" style="font-size: 12px;">DASHBOARD</li>
                <li class="side-nav-item">
                    <a data-bs-toggle="collapse" href="#" aria-expanded="false" aria-controls="sidebarDashboards"
                        class="side-nav-link">
                        <i class="uil-home-alt"></i>
                        <span style="color: skyblue;"> Home </span>
                    </a>
                </li>
            </ul>
            <!-- end Help Box -->
            <!-- End Sidebar -->

            <div class="clearfix"></div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->

        <div class="content-page">
            <div class="content">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <h4 class="page-title">Projects</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card widget-inline">
                            <div class="card-body p-0">
                                <div class="row g-0">
                                    <div class="col-sm-6 col-xl-6">
                                        <div class="card shadow-none m-0">
                                            <div class="card-body text-center">
                                                <i class="fa fa-briefcase" style="font-size: 24px;"></i>
                                                <div id="tooltip-container2"><h3><span data-bs-container="#tooltip-container2" data-bs-toggle="tooltip" data-bs-placement="top" [title]="keysValues">{{numberOfDepartment}}</span></h3></div>
                                                <p class="text-muted font-15 mb-0">Total Departments</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xl-6">
                                        <div class="card shadow-none m-0 border-start">
                                            <div class="card-body text-center">
                                                <i class="fa fa-users" style="font-size: 24px;"></i>
                                                <div id="tooltip-container3"><h3><span data-bs-container="#tooltip-container2" data-bs-toggle="tooltip" data-bs-placement="top" [title]="employeeIDs">{{numberOfEmployees}}</span></h3></div> 
                                                <p class="text-muted font-15 mb-0">Members</p>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end row -->
                            </div>
                        </div> <!-- end card-box-->
                    </div> <!-- end col-->
                </div>
                <!-- end row-->
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">Trainings</h4>

                        <p><b>2</b> Trainings completed out of 2</p>

                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap table-hover mb-0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h5 class="font-14 my-1"><a href="javascript:void(0);"
                                                    class="text-body">Salesforce</a></h5>
                                            <span class="text-muted font-13">Due in 3 days</span>
                                        </td>
                                        <td>
                                            <span class="text-muted font-13">Status</span> <br />
                                            <span class="badge badge-success-lighten">Completed</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h5 class="font-14 my-1"><a href="javascript:void(0);"
                                                    class="text-body">AWS</a></h5>
                                            <span class="text-muted font-13">Due in 27 days</span>
                                        </td>
                                        <td>
                                            <span class="text-muted font-13">Status</span> <br />
                                            <span class="badge badge-success-lighten">Completed</span>
                                        </td>
                                    
                                    </tr>

                                </tbody>
                            </table>
                        </div> <!-- end table-responsive-->

                    </div> <!-- end card body-->
                </div>
<!-- End Content -->

            </div> <!-- content-page -->

        </div> <!-- end wrapper-->
    </div>

    <style scoped>
        .leftbar-user {
            background: url("../../assets/waves.png") no-repeat;
            background-color: #fafbfe;
        }

        .side-nav-title {
            color: black;
        }

        .side-nav {
            background-color: white !important;
            height: 100%;
        }

        .leftside-menu {
            background: #f2f3f7;
        }

        .content-page {
            margin-left: 280px;
            margin-top: -71px;
        }
    </style>